{{#> main classes="form-page"}}
    <form class="form
                 {{classes}}"
        {{#each attributes}}
            {{this.key}}="{{this.value}}"
        {{/each}}
    >
        <div class="form__wrapper">
            <h1 class="form__title">
                {{title}}
            </h1>

            <div class="form__fileds">
                {{#each formfields}}
                    {{{this}}}
                {{/each}}
            </div>

            <div class="form__actions">
                {{{action}}}

                {{{link}}}
            </div>
        </div>
    </form>
{{/main}}
