{{#Main classes="messenger"}}
    {{#AsidePanel classes="messenger__aside"}}
        <div class="aside-panel__header">
            <div class="aside-panel__header-actions">
                {{#PopupButton
                    themaType="link"
                    thema="link-unobtrusive"
                    modalId="createChat"
                }}
                    <span class="action__text">
                        Создать чат
                    </span>
                {{/PopupButton}}

                {{#Link
                    themaType="link"
                    thema="link-unobtrusive"
                    href="/settings"
                }}
                    <span class="action__text">
                        Профиль
                    </span>

                    {{{Icon
                        classes="action__icon"
                        size="12"
                        name="icon-arrow-right"
                    }}}
                {{/Link}}
            </div>


            {{{Formfield
                classes="aside-panel__search"
                id="search"
                name="search"
                type="text"
                thema="filled"
                label="Поиск"
                value=search.value
                iconName="icon-loupe"
                iconSize="20"
                onInput=search.onSearch
                ref="search"
            }}}
        </div>

        <div class="aside-panel__chats">
            {{#each chats}}
                {{{ChatItem
                    classes="aside-panel__chats-item"
                    chatId=this.id
                    avatar=this.avatar
                    title=this.title
                    lastMessage=this.last_message
                }}}
            {{/each}}
        </div>
    {{/AsidePanel}}

    {{#if isChatSelected}}
        <div class="messenger__chat">
            <header class="messenger__chat-header">
                {{{User
                    classes="messenger__chat-user"
                    imgSrc=chat.user.imgSrc
                    imgAlt=chat.user.imgAlt
                    name=chat.user.name
                }}}

                {{#Dropdown
                    classes="messenger__header-chat-dropdown-wrapper"
                }}
                    {{#Action
                        themaType="button"
                        thema="button-dots"
                        classes="messenger__dropdown-button"
                    }}
                        <span class="action__icon"></span>
                    {{/Action}}

                    <div class="dropdown__content" style="{{contentStyle}}">
                        {{{DropdownActionsList
                            dropdownActionsList=chat.dropdownActionsList
                        }}}
                    </div>
                {{/Dropdown}}
            </header>

            <div class="messenger__chat-content chat-content">
                <div class="chat-content__date-content">
                    <div class="chat-content__date">
                        18 июня
                    </div>

                    <div class="chat-content__item">
                        <div class="chat-content__message">
                            <p>
                                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                                <span class="chat-content__message-info">
                                    <time class="chat-content__message-date">
                                        11:30
                                    </time>
                                </span>
                            </p>
                        </div>

                        <div class="chat-content__img-wrapper">
                            <img class="chat-content__img"
                                 src="images/tests/test-img.jpg"
                                 alt="test img"
                            >

                            <span class="chat-content__message-info chat-content__message-info--img">
                                <time class="chat-content__img-date">
                                    11:56
                                </time>
                            </span>
                        </div>
                    </div>

                    <div class="chat-content__item chat-content__item--current-user">
                        <div class="chat-content__message">
                            <p>
                                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                            </p>

                            <p>
                                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.

                                <span class="chat-content__message-info">
                                    {{{Icon
                                        classes="chat-content__message-check-icon"
                                        size="11-5"
                                        name="check"
                                    }}}

                                    <time class="chat-content__message-date">
                                        11:56
                                    </time>
                                </span>
                            </p>
                        </div>

                        <div class="chat-content__img-wrapper">
                            <img class="chat-content__img"
                                 src="images/tests/test-img.jpg"
                                 alt="test img"
                            >

                            <span class="chat-content__message-info chat-content__message-info--img">
                                {{{Icon
                                    classes="chat-content__message-check-icon"
                                    size="11-5"
                                    name="check"
                                }}}

                                <time class="chat-content__img-date">
                                    11:56
                                </time>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="chat-content__date-content">
                    <div class="chat-content__date">
                        19 июня
                    </div>

                    <div class="chat-content__item">
                        <div class="chat-content__message">
                            <p>
                                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                            </p>

                            <p>
                                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.

                                <span class="chat-content__message-info">
                                    <time class="chat-content__message-date">
                                        11:56
                                    </time>
                                </span>
                            </p>
                        </div>

                        <div class="chat-content__img-wrapper">
                            <img class="chat-content__img"
                                 src="/images/users/user-plug.jpg"
                                 alt="test img"
                            >

                            <span class="chat-content__message-info chat-content__message-info--img">
                                <time class="chat-content__img-date">
                                    11:56
                                </time>
                            </span>
                        </div>
                    </div>

                    <div class="chat-content__item chat-content__item--current-user">
                        <div class="chat-content__message">
                            <p>
                                Круто!

                                <span class="chat-content__message-info">
                                    {{{Icon
                                        classes="chat-content__message-check-icon"
                                        size="11-5"
                                        name="check"
                                    }}}

                                    <time class="chat-content__message-date">
                                        11:56
                                    </time>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="messenger__footer">
                {{#Dropdown
                    classes="messenger__footer-chat-dropdown-wrapper"
                }}
                    {{#Action
                        thema="button-transparent-icon"
                    }}
                        {{{Icon
                            classes="chat-content__message-check-icon"
                            size="32"
                            name="clip"
                        }}}
                    {{/Action}}

                    <div class="dropdown__content" style="top: unset; right: unset; bottom: calc(100% + 22px); left: -10px">
                        {{{DropdownActionsList
                                dropdownActionsList=chat.footerDropdownActionsList
                        }}}
                    </div>
                {{/Dropdown}}

                {{{Formfield
                    classes="messenger__footer-message-field"
                    id="message"
                    name="message"
                    type="text"
                    thema="filled-2"
                    placeholder="Сообщение"
                }}}

                {{#Action
                    themaType="button"
                    thema="button-circle-icon"
                }}
                    {{{Icon
                        classes="chat-content__message-check-icon"
                        size="13-12"
                        name="arrow-right-2"
                    }}}
                {{/Action}}
            </footer>
        </div>
    {{else}}
        <div class="messenger__chat messenger__chat--no-selected-chat">
            <div class="messenger__chat-message">
                Выберите чат чтобы отправить сообщение
            </div>
        </div>
    {{/if}}

    {{{Popup
        id=this.createChatPopup.id
        classes=this.createChatPopup.classes
        title=this.createChatPopup.title
        imgSrc=this.createChatPopup.img.src
        fieldId=this.createChatPopup.field.id
        fieldName=this.createChatPopup.field.name
        fieldType=this.createChatPopup.field.type
        fieldLabel=this.createChatPopup.field.label
        fieldValue=this.createChatPopup.field.value
        fieldRef=this.createChatPopup.field.ref
        actionThemaType=this.createChatPopup.action.themaType
        actionThema=this.createChatPopup.action.thema
        actionText=this.createChatPopup.action.text
        actionOnClick=this.createChatPopup.action.onClick
        ref=this.createChatPopup.ref
    }}}

    {{{DropdownContent
        classes="dropdown-content--icon-red"
        dropdownActionsList=chat.deleChatActionsList
        ref="deleteChat"
    }}}
{{/Main}}
