{{#Main classes="modals"}}
    <div class="modals-item modal open">
        <div class="modal__content">
            <h2 class="modal__title">
                Загрузите файл
            </h2>

            <div class="modal__content-inner">
                {{{Formfield
                    id="file"
                    name="file"
                    classes="modal__field modal__field--file"
                    thema="file"
                    type="file"
                    label="Выбрать файл на компьютере"
                }}}
            </div>

            {{{Action
                classes="modal__action"
                themaType="button"
                thema="button-brand"
                text="Поменять"
            }}}
        </div>
    </div>

    <div class="modals-item modal error open">
        <div class="modal__content">
            <h2 class="modal__title">
                Ошибка, попробуйте ещё раз
            </h2>

            <div class="modal__content-inner">
                {{{ Formfield
                    id="file"
                    name="file"
                    classes="modal__field modal__field--file"
                    thema="file"
                    type="file"
                    label="Выбрать файл на компьютере"
                }}}
            </div>

            {{{ Action
                classes="modal__action"
                themaType="button"
                thema="button-brand"
                text="Поменять"
            }}}
        </div>
    </div>

    <div class="modals-item modal open">
        <div class="modal__content">
            <h2 class="modal__title">
                Создать чат
            </h2>

            <div class="modal__content-inner">
                <div class="modal__chat">
                    <img class="modal__chat-img"
                         src="images/users/user-plug.jpg"
                    >

                    {{{Formfield
                        id="chat"
                        name="chat"
                        classes="modal__field"
                        type="text"
                        label="Название чата"
                        value="Тестовый чат"
                    }}}
                </div>

            </div>

            {{{Action
                classes="modal__action"
                themaType="button"
                thema="button-brand"
                text="Создать"
            }}}
        </div>
    </div>

    <div class="modals-item modal modal--with-img open">
        <div class="modal__content">
            <h2 class="modal__title">
                Удалить чат
            </h2>

            <div class="modal__content-inner">
                <div class="modal__text">
                    Вы уверены, что хотите удалить чат с пользователем Вадим?
                </div>
            </div>

            {{{Action
                classes="modal__action"
                themaType="button"
                thema="button-brand"
                text="Удалить"
            }}}
        </div>
    </div>

    <div class="modals-item modal open">
        <div class="modal__content">
            <h2 class="modal__title">
                Добавить пользователя
            </h2>

            <div class="modal__content-inner">
                {{{Formfield
                    id="login"
                    name="login"
                    classes="modal__field"
                    type="text"
                    label="Логин"
                    value="ivanivanov"
                }}}
            </div>

            {{{Action
                classes="modal__action"
                themaType="button"
                thema="button-brand"
                text="Добавить"
            }}}
        </div>
    </div>

    <div class="modals-item modal open">
        <div class="modal__content">
            <h2 class="modal__title">
                Удалить пользователя
            </h2>

            <div class="modal__content-inner">
                {{{Formfield
                    id="login"
                    name="login"
                    classes="modal__field"
                    type="text"
                    label="Логин"
                    value="ivanivanov"
                }}}
            </div>

            {{{Action
                classes="modal__action"
                themaType="button"
                thema="button-brand"
                text="Удалить"
            }}}
        </div>
    </div>
{{/Main}}
