{{#if href}}
    <a class="{{classes}}
              action
              {{#if themaType}}action--{{themaType}}{{/if}}
              {{#if thema}}action--{{thema}}{{/if}}"
       href="{{href}}"
       {{#if target}}target="{{target}}"{{/if}}
    >
        {{#if text}}
            <span class="action__text">
                {{text}}
            </span>
        {{/if}}
    </a>
{{else}}
    <button class="{{classes}}
                   action
                   {{#if themaType}}action--{{themaType}}{{/if}}
                   {{#if thema}}action--{{thema}}{{/if}}"
            {{#if target}}type="{{target}}"{{/if}}
    >
        {{#if text}}
            <span class="action__text">
                {{text}}
            </span>
        {{/if}}
    </button>
{{/if}}
