{{#if href}}
    <a class="{{classes}}
              action action--link
              {{#if thema}}action--{{thema}}{{/if}}"
       href="{{href}}"
       {{#if target}}target="{{target}}"{{/if}}
       {{#each attributes}}
           {{this.key}}="{{this.value}}"
       {{/each}}
    >
        {{#if text}}
            {{text}}
        {{else}}
            {{> @partial-block}}
        {{/if}}
    </a>
{{else}}
    <button class="{{classes}}
                   action action--button
                   {{#if thema}}action--{{thema}}{{/if}}"
            {{#if target}}type="{{target}}"{{/if}}
            {{#each attributes}}
                {{this.key}}="{{this.value}}"
            {{/each}}
    >
        {{#if text}}
            {{text}}
        {{else}}
            {{> @partial-block}}
        {{/if}}
    </button>
{{/if}}
