<div class="{{classes}}
            formfield
            {{#if thema}}formfield--{{thema}}{{/if}}
            {{#if disabled}}formfield--disabled{{/if}}"
>
    {{{Input
        id=id
        classes="formfield__element"
        name=name
        type=type
        value=value
        placeholder=placeholder
        disabled=disabled
        ref="input"
    }}}

    <label for="{{id}}"
           class="formfield__label"
    >
        {{#if label}}
            {{#if iconName}}
                {{{Icon
                    classes="formfield__label-icon"
                    size=iconSize
                    name=iconName
                }}}
            {{/if}}

            <span class="formfield__label-text">
                {{label}}
            </span>
        {{/if}}
    </label>
</div>
