<div class="{{classes}} formfield">
    <input id="{{id}}"
           class="formfield__element"
           name="{{name}}"
           type="{{type}}"
           placeholder="{{placeholder}}"
    >
    <label for="{{id}}"
           class="formfield__label"
    >
        {{#if label}}
            {{label}}
        {{else}}
            {{> slot}}
        {{/if}}
    </label>

    <div class="formfield__error"></div>
</div>
