<div class="formfield {{settings.classes}}">
    <input id="{{settings.id}}"
           class="formfield__element"
           name="{{settings.name}}"
           type="{{settings.type}}"
           placeholder="{{settings.placeholder}}"
    >
    <label for="{{settings.id}}"
           class="formfield__label"
    >
        {{settings.label}}
    </label>

    <div class="formfield__error"></div>
</div>
