<div class="{{classes}}
            formfield
            {{#if thema}}formfield--{{thema}}{{/if}}
            {{#if disabled}}formfield--disabled{{/if}}"
>
    <input id="{{id}}"
           class="formfield__element"
           name="{{name}}"
           type="{{type}}"
           {{#if value}}value="{{value}}"{{/if}}
           placeholder="{{placeholder}}"
           {{#if disabled}}disabled{{/if}}
    >
    <label for="{{id}}"
           class="formfield__label"
    >
        {{#if label}}
            {{#if iconName}}
                {{{Icon
                    classes="formfield__label-icon"
                    size=iconSize
                    name=iconName
                }}}
            {{/if}}

            <span class="formfield__label-text">
                {{label}}
            </span>
        {{/if}}
    </label>

    <div class="formfield__error">
        {{error}}
    </div>
</div>
