{{#Main classes="chat-page"}}
    {{#AsidePanel classes="chat-page__aside"}}
        <div class="aside-panel__header">
            {{#Action
                classes="aside-panel__link"
                themaType="link"
                thema="link-unobtrusive"
                href="/profile"
            }}
                <span class="action__text">
                    Профиль
                </span>

                {{{Icon
                    classes="action__icon"
                    size="12"
                    name="icon-arrow-right"
                }}}
            {{/Action}}

            {{{Formfield
                classes="aside-panel__search"
                id="search"
                name="search"
                type="text"
                thema="filled"
                label="Поиск"
                iconName="icon-loupe"
                iconSize="20"
            }}}
        </div>

        <div class="aside-panel__chats">
            {{#each chats}}
                {{{ChatItem
                    classes="aside-panel__chats-item"
                    userImgSrc=this.userImgSrc
                    userName=this.userName
                    userLastMessage=this.userLastMessage
                    selected=this.selected
                }}}
            {{/each}}
        </div>
    {{/AsidePanel}}

    {{#if isChatSelected}}
        <div class="chat-page__chat">
            <header class="chat-page__chat-header">
                {{{User
                    classes="chat-page__chat-user"
                    imgSrc=chat.user.imgSrc
                    imgAlt=chat.user.imgAlt
                    name=chat.user.name
                }}}

                {{#Dropdown
                    classes="chat-page__header-chat-dropdown-wrapper"
                }}
                    {{#Action
                        themaType="button"
                        thema="button-dots"
                        classes="chat-page__dropdown-button"
                    }}
                        <span class="action__icon"></span>
                    {{/Action}}

                    <div class="dropdown__content" style="{{contentStyle}}">
                        {{{DropdownActionsList
                            dropdownActionsList=chat.dropdownActionsList
                        }}}
                    </div>
                {{/Dropdown}}
            </header>

            <div class="chat-page__chat-content chat-content">
                <div class="chat-content__date-content">
                    <div class="chat-content__date">
                        18 июня
                    </div>

                    <div class="chat-content__item">
                        <div class="chat-content__message">
                            <p>
                                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                                <span class="chat-content__message-info">
                                    <time class="chat-content__message-date">
                                        11:30
                                    </time>
                                </span>
                            </p>
                        </div>

                        <div class="chat-content__img-wrapper">
                            <img class="chat-content__img"
                                 src="images/tests/test-img.jpg"
                                 alt="test img"
                            >

                            <span class="chat-content__message-info chat-content__message-info--img">
                                <time class="chat-content__img-date">
                                    11:56
                                </time>
                            </span>
                        </div>
                    </div>

                    <div class="chat-content__item chat-content__item--current-user">
                        <div class="chat-content__message">
                            <p>
                                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                            </p>

                            <p>
                                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.

                                <span class="chat-content__message-info">
                                    {{{Icon
                                        classes="chat-content__message-check-icon"
                                        size="11-5"
                                        name="check"
                                    }}}

                                    <time class="chat-content__message-date">
                                        11:56
                                    </time>
                                </span>
                            </p>
                        </div>

                        <div class="chat-content__img-wrapper">
                            <img class="chat-content__img"
                                 src="images/tests/test-img.jpg"
                                 alt="test img"
                            >

                            <span class="chat-content__message-info chat-content__message-info--img">
                                {{{Icon
                                    classes="chat-content__message-check-icon"
                                    size="11-5"
                                    name="check"
                                }}}

                                <time class="chat-content__img-date">
                                    11:56
                                </time>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="chat-content__date-content">
                    <div class="chat-content__date">
                        19 июня
                    </div>

                    <div class="chat-content__item">
                        <div class="chat-content__message">
                            <p>
                                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                            </p>

                            <p>
                                Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.

                                <span class="chat-content__message-info">
                                    <time class="chat-content__message-date">
                                        11:56
                                    </time>
                                </span>
                            </p>
                        </div>

                        <div class="chat-content__img-wrapper">
                            <img class="chat-content__img"
                                 src="/images/users/user-plug.jpg"
                                 alt="test img"
                            >

                            <span class="chat-content__message-info chat-content__message-info--img">
                                <time class="chat-content__img-date">
                                    11:56
                                </time>
                            </span>
                        </div>
                    </div>

                    <div class="chat-content__item chat-content__item--current-user">
                        <div class="chat-content__message">
                            <p>
                                Круто!

                                <span class="chat-content__message-info">
                                    {{{Icon
                                        classes="chat-content__message-check-icon"
                                        size="11-5"
                                        name="check"
                                    }}}

                                    <time class="chat-content__message-date">
                                        11:56
                                    </time>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="chat-page__footer">
                {{#Dropdown
                    classes="chat-page__footer-chat-dropdown-wrapper"
                }}
                    {{#Action
                        thema="button-transparent-icon"
                    }}
                        {{{Icon
                            classes="chat-content__message-check-icon"
                            size="32"
                            name="clip"
                        }}}
                    {{/Action}}

                    <div class="dropdown__content" style="top: unset; right: unset; bottom: calc(100% + 22px); left: -10px">
                        {{{DropdownActionsList
                                dropdownActionsList=chat.footerDropdownActionsList
                        }}}
                    </div>
                {{/Dropdown}}

                {{{Formfield
                    classes="chat-page__footer-message-field"
                    id="message"
                    name="message"
                    type="text"
                    thema="filled-2"
                    placeholder="Сообщение"
                }}}

                {{#Action
                    themaType="button"
                    thema="button-circle-icon"
                }}
                    {{{Icon
                        classes="chat-content__message-check-icon"
                        size="13-12"
                        name="arrow-right-2"
                    }}}
                {{/Action}}
            </footer>
        </div>
    {{else}}
        <div class="chat-page__chat chat-page__chat--no-selected-chat">
            <div class="chat-page__chat-message">
                Выберите чат чтобы отправить сообщение
            </div>
        </div>
    {{/if}}
{{/Main}}
