{{#if href}}
    <a class="{{classes}} link"
       href="{{href}}"
       target="{{target}}"
    >
        {{#if text}}
            {{text}}
        {{else}}
            {{> slot}}
        {{/if}}
    </a>
{{else}}
    <button class="{{classes}} link"
            type="{{type}}"
    >
        {{#if text}}
            {{text}}
        {{else}}
            {{> slot}}
        {{/if}}
    </button>
{{/if}}
